*.RES
*.a
*.core
*.dll
*.exe
*.exp
*.ilk
*.la
*.lib
*.lo
*.loT
*.log
*.msi
*.ncb
*.o
*.obj
*.pdb
*.pyc
*.res
*.so
*.suo
*.tar
*.tar.bz2
*.tar.gz
*.tar.xz
*.wixobj
*.wixpdb
*.zip
*~
./Makefile
./Makefile.in
./Makefile.in
./aclocal.m4
.deps
.ditz-config
.ditz-plugins
.gdb_history
.gdbinit
.libs
Debug
Release
autom4te.cache
bdwgc/.dirstamp
bdwgc/Makefile
bdwgc/bdw-gc.pc
bdwgc/cord/.dirstamp
bdwgc/libatomic_ops-1.2/Makefile
bdwgc/libatomic_ops-1.2/doc/Makefile
bdwgc/libatomic_ops-1.2/src/Makefile
bdwgc/libatomic_ops-1.2/src/atomic_ops/Makefile
bdwgc/libatomic_ops-1.2/src/atomic_ops/sysdeps/Makefile
bdwgc/libatomic_ops-1.2/tests/Makefile
bin/Makefile
bin/Makefile.in
config.h
config.log
config.status
config.status.lineno
config.status.log
configure.lineno
configure.log
configure.scan
core
core.*
corgi/Makefile
corgi/_configs.sed
corgi/doc/conf.py
corgi/rc
corgi/src/Makefile
corgi/src/corgi
corgi/tests/Makefile
doc/Makefile
doc/index.html
ext/Makefile
ext/Makefile.common
ext/Makefile.in
ext/concurrent/Makefile
ext/uname/Makefile
ext/wx.yg
ext/wx/wx.yg
ext/wx/wxWidgets/.pch/
ext/wx/wxWidgets/bk-deps
ext/wx/wxWidgets/bk-make-pch
ext/wx/wxWidgets/configarg.cache
ext/wx/wxWidgets/lib/wx/
ext/wx/wxWidgets/src/expat/expat_config.h
ext/wx/wxWidgets/utils/wxrc/wxrc
ext/wx/wxWidgets/wx-config
ext/wx/wx_wrap.cxx
ext/yaml/Makefile
ext/yaml/syck/lib/gram.c
ext/yaml/syck/lib/gram.h
ext/yaml/syck/lib/gram.output
ext/yaml/syck/tests/test-basic
ext/yaml/syck/tests/test-emit
ext/yaml/syck/tests/test-parse
ext/yaml/syck/tests/test-yts
ext/zip/Makefile
ext/zip/libzip/libzip-uninstalled.pc
ext/zip/libzip/libzip.pc
ext/zip/libzip/regress/add_dir
ext/zip/libzip/regress/add_from_buffer
ext/zip/libzip/regress/add_from_file
ext/zip/libzip/regress/add_from_filep
ext/zip/libzip/regress/encrypt
ext/zip/libzip/regress/fread
ext/zip/libzip/regress/get_comment
ext/zip/libzip/regress/name_locate
ext/zip/libzip/regress/open
ext/zip/libzip/regress/set_comment_all
ext/zip/libzip/regress/set_comment_localonly
ext/zip/libzip/regress/set_comment_removeglobal
ext/zip/libzip/regress/set_comment_revert
ext/zip/libzip/src/zipcmp
ext/zip/libzip/src/zipmerge
ext/zip/libzip/src/ziptorrent
ext/zlib/zlib/example
ext/zlib/zlib/minigzip
ext/zlib/zlib/zconf.h
gmon.out
gmp/Makefile
gmp/config.m4
gmp/cxx/Makefile
gmp/demos/Makefile
gmp/demos/calc/Makefile
gmp/demos/calc/calc-config.h
gmp/demos/calc/calc.c
gmp/demos/calc/calc.h
gmp/demos/expr/Makefile
gmp/demos/pexpr-config.h
gmp/doc/Makefile
gmp/doc/gmp.info-1
gmp/doc/gmp.info-2
gmp/fib_table.h
gmp/gen-bases
gmp/gen-fac_ui
gmp/gen-fib
gmp/gen-psqr
gmp/gmp-mparam.h
gmp/gmp.h
gmp/mp.h
gmp/mp_bases.h
gmp/mpbsd/Makefile
gmp/mpf/Makefile
gmp/mpn/Makefile
gmp/mpn/add.c
gmp/mpn/add_1.c
gmp/mpn/add_n.asm
gmp/mpn/addmul_1.asm
gmp/mpn/addsub_n.c
gmp/mpn/bdiv_dbm1c.asm
gmp/mpn/bdivmod.c
gmp/mpn/binvert.c
gmp/mpn/cmp.c
gmp/mpn/copyd.asm
gmp/mpn/copyi.asm
gmp/mpn/dc_bdiv_q.c
gmp/mpn/dc_bdiv_qr.c
gmp/mpn/dc_div_q.c
gmp/mpn/dc_div_qr.c
gmp/mpn/dc_divappr_q.c
gmp/mpn/dc_divrem_n.c
gmp/mpn/dive_1.asm
gmp/mpn/diveby3.c
gmp/mpn/divexact.c
gmp/mpn/divis.c
gmp/mpn/divrem.c
gmp/mpn/divrem_1.asm
gmp/mpn/divrem_2.asm
gmp/mpn/dump.c
gmp/mpn/fib2_ui.c
gmp/mpn/fib_table.c
gmp/mpn/gcd.c
gmp/mpn/gcd_1.c
gmp/mpn/gcd_lehmer.c
gmp/mpn/gcd_subdiv_step.c
gmp/mpn/gcdext.c
gmp/mpn/gcdext_1.c
gmp/mpn/gcdext_lehmer.c
gmp/mpn/gcdext_subdiv_step.c
gmp/mpn/get_d.c
gmp/mpn/get_str.c
gmp/mpn/hamdist.asm
gmp/mpn/hgcd.c
gmp/mpn/hgcd2.c
gmp/mpn/invert.c
gmp/mpn/jacbase.c
gmp/mpn/lshift.asm
gmp/mpn/matrix22_mul.c
gmp/mpn/mod_1.asm
gmp/mpn/mod_1_1.c
gmp/mpn/mod_1_2.c
gmp/mpn/mod_1_3.c
gmp/mpn/mod_1_4.c
gmp/mpn/mod_34lsub1.asm
gmp/mpn/mode1o.asm
gmp/mpn/mp_bases.c
gmp/mpn/mu_bdiv_q.c
gmp/mpn/mu_bdiv_qr.c
gmp/mpn/mu_div_q.c
gmp/mpn/mu_div_qr.c
gmp/mpn/mu_divappr_q.c
gmp/mpn/mul.c
gmp/mpn/mul_1.asm
gmp/mpn/mul_basecase.asm
gmp/mpn/mul_fft.c
gmp/mpn/mul_n.c
gmp/mpn/mullow_basecase.c
gmp/mpn/mullow_n.c
gmp/mpn/neg_n.c
gmp/mpn/perfsqr.c
gmp/mpn/perfsqr.h
gmp/mpn/popcount.asm
gmp/mpn/pow_1.c
gmp/mpn/powlo.c
gmp/mpn/powm.c
gmp/mpn/powm_sec.c
gmp/mpn/random.c
gmp/mpn/random2.c
gmp/mpn/redc_1.c
gmp/mpn/redc_2.c
gmp/mpn/rootrem.c
gmp/mpn/rshift.asm
gmp/mpn/sb_bdiv_q.c
gmp/mpn/sb_bdiv_qr.c
gmp/mpn/sb_div_q.c
gmp/mpn/sb_div_qr.c
gmp/mpn/sb_divappr_q.c
gmp/mpn/sb_divrem_mn.c
gmp/mpn/scan0.c
gmp/mpn/scan1.c
gmp/mpn/set_str.c
gmp/mpn/sqr_basecase.asm
gmp/mpn/sqrtrem.c
gmp/mpn/sub.c
gmp/mpn/sub_1.c
gmp/mpn/sub_n.asm
gmp/mpn/subcnd_n.c
gmp/mpn/submul_1.asm
gmp/mpn/tdiv_qr.c
gmp/mpn/toom22_mul.c
gmp/mpn/toom2_sqr.c
gmp/mpn/toom32_mul.c
gmp/mpn/toom33_mul.c
gmp/mpn/toom3_sqr.c
gmp/mpn/toom42_mul.c
gmp/mpn/toom44_mul.c
gmp/mpn/toom4_sqr.c
gmp/mpn/toom53_mul.c
gmp/mpn/toom62_mul.c
gmp/mpn/toom_interpolate_5pts.c
gmp/mpn/toom_interpolate_7pts.c
gmp/mpn/udiv.asm
gmp/mpn/umul.asm
gmp/mpq/Makefile
gmp/mpz/Makefile
gmp/mpz/fac_ui.h
gmp/printf/Makefile
gmp/scanf/Makefile
gmp/tests/Makefile
gmp/tests/cxx/Makefile
gmp/tests/devel/Makefile
gmp/tests/misc/Makefile
gmp/tests/mpbsd/Makefile
gmp/tests/mpf/Makefile
gmp/tests/mpn/Makefile
gmp/tests/mpq/Makefile
gmp/tests/mpz/Makefile
gmp/tests/rand/Makefile
gmp/tune/Makefile
gmp/tune/sqr_basecase.c
html
include/yog/config.h.in
include/yog/inst.h
include/yog/opcodes.h
include/yog/token.h
installer.nsi
lib/Makefile
lib/Makefile.in
lib/c/Makefile
lib/c/Makefile.in
lib/c/grammar.yg
lib/sdl.yg
lib/sdl/Makefile
lib/sdl/Makefile.in
lib/sdl/image.yg
lib/sdl/mixer.yg
lib/sdl/ttf.yg
libffi/Makefile
libffi/fficonfig.h
libffi/include/Makefile
libffi/include/ffi.h
libffi/include/ffitarget.h
libffi/libffi.pc
libffi/man/Makefile
libffi/src/.dirstamp
libffi/src/x86/.dirstamp
libffi/testsuite/Makefile
libtool
onig/Makefile
onig/onig-config
onig/sample/Makefile
onig/sample/crnl
onig/sample/encode
onig/sample/listcap
onig/sample/names
onig/sample/posix
onig/sample/simple
onig/sample/sql
onig/sample/syntax
parser.output
pthreads-w32/libpthreadGC2.stamp
src/Makefile
src/Makefile.in
src/array.inc
src/builtins.inc
src/builtins_unix.inc
src/callable.inc
src/code.inc
src/compile.inc
src/dict.inc
src/errno.inc
src/euc_jp2yog_3bytes.inc
src/euc_jp2yog_hankaku.inc
src/euc_jp2yog_zenkaku.inc
src/eval.inc
src/fixnum.inc
src/inst.c
src/keywords.inc
src/miniyog
src/object.inc
src/parser.c
src/parser.out
src/set.inc
src/shift_jis2yog_hankaku.inc
src/shift_jis2yog_zenkaku.inc
src/string.inc
src/symbol.inc
src/yog2euc_jp1.inc
src/yog2euc_jp2.inc
src/yog2euc_jp3.inc
src/yog2shift_jis1.inc
src/yog2shift_jis2.inc
src/yog2shift_jis3.inc
stamp-h1
tags
tests/Makefile
tests/TestO.db
tests/gc/Makefile
tests/gc/Makefile.in
tests/gc/test-mark-sweep-compact
tests/gram.yg
tests/h2yog.h
tests/run_h2yog.yg
tests/test_argtype_*
tests/test_h2yog.yg
tests/test_package4.ilk
tests/test_package5.ilk
tests/test_package6.ilk
tests/test_rettype_*
tests/test_write0.tmp
tools/lemon/Makefile
tools/lemon/lemon
tools/swig/CCache/Makefile
tools/swig/CCache/ccache-swig
tools/swig/Doc/Manual/Makefile
tools/swig/Examples/GIFPlot/Chicken/full/Makefile
tools/swig/Examples/GIFPlot/Chicken/simple/Makefile
tools/swig/Examples/GIFPlot/Guile/full/Makefile
tools/swig/Examples/GIFPlot/Guile/simple/Makefile
tools/swig/Examples/GIFPlot/Java/full/Makefile
tools/swig/Examples/GIFPlot/Java/shadow/Makefile
tools/swig/Examples/GIFPlot/Java/simple/Makefile
tools/swig/Examples/GIFPlot/Lib/Makefile
tools/swig/Examples/GIFPlot/Makefile
tools/swig/Examples/GIFPlot/Ocaml/full/Makefile
tools/swig/Examples/GIFPlot/Ocaml/simple/Makefile
tools/swig/Examples/GIFPlot/Perl5/full/Makefile
tools/swig/Examples/GIFPlot/Perl5/shadow/Makefile
tools/swig/Examples/GIFPlot/Perl5/simple/Makefile
tools/swig/Examples/GIFPlot/Php/full/Makefile
tools/swig/Examples/GIFPlot/Php/shadow/Makefile
tools/swig/Examples/GIFPlot/Php/simple/Makefile
tools/swig/Examples/GIFPlot/Pike/simple/Makefile
tools/swig/Examples/GIFPlot/Python/full/Makefile
tools/swig/Examples/GIFPlot/Python/shadow/Makefile
tools/swig/Examples/GIFPlot/Python/simple/Makefile
tools/swig/Examples/GIFPlot/Ruby/full/Makefile
tools/swig/Examples/GIFPlot/Ruby/shadow/Makefile
tools/swig/Examples/GIFPlot/Ruby/simple/Makefile
tools/swig/Examples/GIFPlot/Tcl/full/Makefile
tools/swig/Examples/GIFPlot/Tcl/mandel/Makefile
tools/swig/Examples/GIFPlot/Tcl/simple/Makefile
tools/swig/Examples/Makefile
tools/swig/Examples/chicken/class/Makefile
tools/swig/Examples/chicken/constants/Makefile
tools/swig/Examples/chicken/egg/Makefile
tools/swig/Examples/chicken/multimap/Makefile
tools/swig/Examples/chicken/overload/Makefile
tools/swig/Examples/chicken/simple/Makefile
tools/swig/Examples/chicken/zlib/Makefile
tools/swig/Examples/csharp/arrays/Makefile
tools/swig/Examples/csharp/callback/Makefile
tools/swig/Examples/csharp/class/Makefile
tools/swig/Examples/csharp/enum/Makefile
tools/swig/Examples/csharp/extend/Makefile
tools/swig/Examples/csharp/funcptr/Makefile
tools/swig/Examples/csharp/reference/Makefile
tools/swig/Examples/csharp/simple/Makefile
tools/swig/Examples/csharp/template/Makefile
tools/swig/Examples/csharp/variables/Makefile
tools/swig/Examples/guile/Makefile
tools/swig/Examples/guile/constants/Makefile
tools/swig/Examples/guile/matrix/Makefile
tools/swig/Examples/guile/multimap/Makefile
tools/swig/Examples/guile/multivalue/Makefile
tools/swig/Examples/guile/port/Makefile
tools/swig/Examples/guile/simple/Makefile
tools/swig/Examples/guile/std_vector/Makefile
tools/swig/Examples/java/callback/Makefile
tools/swig/Examples/java/class/Makefile
tools/swig/Examples/java/constants/Makefile
tools/swig/Examples/java/enum/Makefile
tools/swig/Examples/java/extend/Makefile
tools/swig/Examples/java/funcptr/Makefile
tools/swig/Examples/java/multimap/Makefile
tools/swig/Examples/java/native/Makefile
tools/swig/Examples/java/pointer/Makefile
tools/swig/Examples/java/reference/Makefile
tools/swig/Examples/java/simple/Makefile
tools/swig/Examples/java/template/Makefile
tools/swig/Examples/java/typemap/Makefile
tools/swig/Examples/java/variables/Makefile
tools/swig/Examples/lua/arrays/Makefile
tools/swig/Examples/lua/class/Makefile
tools/swig/Examples/lua/constants/Makefile
tools/swig/Examples/lua/dual/Makefile
tools/swig/Examples/lua/embed/Makefile
tools/swig/Examples/lua/embed2/Makefile
tools/swig/Examples/lua/embed3/Makefile
tools/swig/Examples/lua/exception/Makefile
tools/swig/Examples/lua/funcptr3/Makefile
tools/swig/Examples/lua/functest/Makefile
tools/swig/Examples/lua/functor/Makefile
tools/swig/Examples/lua/import/Makefile
tools/swig/Examples/lua/owner/Makefile
tools/swig/Examples/lua/pointer/Makefile
tools/swig/Examples/lua/simple/Makefile
tools/swig/Examples/lua/variables/Makefile
tools/swig/Examples/modula3/class/Makefile
tools/swig/Examples/modula3/enum/Makefile
tools/swig/Examples/modula3/exception/Makefile
tools/swig/Examples/modula3/reference/Makefile
tools/swig/Examples/modula3/simple/Makefile
tools/swig/Examples/modula3/typemap/Makefile
tools/swig/Examples/mzscheme/multimap/Makefile
tools/swig/Examples/mzscheme/simple/Makefile
tools/swig/Examples/mzscheme/std_vector/Makefile
tools/swig/Examples/ocaml/argout_ref/Makefile
tools/swig/Examples/ocaml/contract/Makefile
tools/swig/Examples/ocaml/scoped_enum/Makefile
tools/swig/Examples/ocaml/shapes/Makefile
tools/swig/Examples/ocaml/simple/Makefile
tools/swig/Examples/ocaml/std_string/Makefile
tools/swig/Examples/ocaml/std_vector/Makefile
tools/swig/Examples/ocaml/stl/Makefile
tools/swig/Examples/ocaml/string_from_ptr/Makefile
tools/swig/Examples/ocaml/strings_test/Makefile
tools/swig/Examples/octave/callback/Makefile
tools/swig/Examples/octave/class/Makefile
tools/swig/Examples/octave/constants/Makefile
tools/swig/Examples/octave/contract/Makefile
tools/swig/Examples/octave/enum/Makefile
tools/swig/Examples/octave/extend/Makefile
tools/swig/Examples/octave/funcptr/Makefile
tools/swig/Examples/octave/funcptr2/Makefile
tools/swig/Examples/octave/functor/Makefile
tools/swig/Examples/octave/operator/Makefile
tools/swig/Examples/octave/pointer/Makefile
tools/swig/Examples/octave/reference/Makefile
tools/swig/Examples/octave/simple/Makefile
tools/swig/Examples/octave/template/Makefile
tools/swig/Examples/octave/variables/Makefile
tools/swig/Examples/perl5/class/Makefile
tools/swig/Examples/perl5/constants/Makefile
tools/swig/Examples/perl5/constants2/Makefile
tools/swig/Examples/perl5/funcptr/Makefile
tools/swig/Examples/perl5/import/Makefile
tools/swig/Examples/perl5/inline/Makefile
tools/swig/Examples/perl5/java/Makefile
tools/swig/Examples/perl5/multimap/Makefile
tools/swig/Examples/perl5/multiple_inheritance/Makefile
tools/swig/Examples/perl5/pointer/Makefile
tools/swig/Examples/perl5/reference/Makefile
tools/swig/Examples/perl5/simple/Makefile
tools/swig/Examples/perl5/value/Makefile
tools/swig/Examples/perl5/variables/Makefile
tools/swig/Examples/perl5/xmlstring/Makefile
tools/swig/Examples/php/callback/Makefile
tools/swig/Examples/php/class/Makefile
tools/swig/Examples/php/constants/Makefile
tools/swig/Examples/php/cpointer/Makefile
tools/swig/Examples/php/disown/Makefile
tools/swig/Examples/php/enum/Makefile
tools/swig/Examples/php/extend/Makefile
tools/swig/Examples/php/funcptr/Makefile
tools/swig/Examples/php/overloading/Makefile
tools/swig/Examples/php/pointer/Makefile
tools/swig/Examples/php/pragmas/Makefile
tools/swig/Examples/php/proxy/Makefile
tools/swig/Examples/php/reference/Makefile
tools/swig/Examples/php/simple/Makefile
tools/swig/Examples/php/sync/Makefile
tools/swig/Examples/php/value/Makefile
tools/swig/Examples/php/variables/Makefile
tools/swig/Examples/pike/class/Makefile
tools/swig/Examples/pike/constants/Makefile
tools/swig/Examples/pike/enum/Makefile
tools/swig/Examples/pike/overload/Makefile
tools/swig/Examples/pike/simple/Makefile
tools/swig/Examples/pike/template/Makefile
tools/swig/Examples/python/callback/Makefile
tools/swig/Examples/python/class/Makefile
tools/swig/Examples/python/constants/Makefile
tools/swig/Examples/python/contract/Makefile
tools/swig/Examples/python/docstrings/Makefile
tools/swig/Examples/python/enum/Makefile
tools/swig/Examples/python/exception/Makefile
tools/swig/Examples/python/exceptproxy/Makefile
tools/swig/Examples/python/extend/Makefile
tools/swig/Examples/python/funcptr/Makefile
tools/swig/Examples/python/funcptr2/Makefile
tools/swig/Examples/python/functor/Makefile
tools/swig/Examples/python/import/Makefile
tools/swig/Examples/python/import_template/Makefile
tools/swig/Examples/python/java/Makefile
tools/swig/Examples/python/libffi/Makefile
tools/swig/Examples/python/multimap/Makefile
tools/swig/Examples/python/operator/Makefile
tools/swig/Examples/python/pointer/Makefile
tools/swig/Examples/python/reference/Makefile
tools/swig/Examples/python/simple/Makefile
tools/swig/Examples/python/smartptr/Makefile
tools/swig/Examples/python/std_map/Makefile
tools/swig/Examples/python/std_vector/Makefile
tools/swig/Examples/python/swigrun/Makefile
tools/swig/Examples/python/template/Makefile
tools/swig/Examples/python/varargs/Makefile
tools/swig/Examples/python/variables/Makefile
tools/swig/Examples/python/weave/Makefile
tools/swig/Examples/r/class/Makefile
tools/swig/Examples/r/simple/Makefile
tools/swig/Examples/ruby/class/Makefile
tools/swig/Examples/ruby/constants/Makefile
tools/swig/Examples/ruby/enum/Makefile
tools/swig/Examples/ruby/exception_class/Makefile
tools/swig/Examples/ruby/free_function/Makefile
tools/swig/Examples/ruby/funcptr/Makefile
tools/swig/Examples/ruby/funcptr2/Makefile
tools/swig/Examples/ruby/functor/Makefile
tools/swig/Examples/ruby/hashargs/Makefile
tools/swig/Examples/ruby/import/Makefile
tools/swig/Examples/ruby/import_template/Makefile
tools/swig/Examples/ruby/java/Makefile
tools/swig/Examples/ruby/mark_function/Makefile
tools/swig/Examples/ruby/multimap/Makefile
tools/swig/Examples/ruby/operator/Makefile
tools/swig/Examples/ruby/overloading/Makefile
tools/swig/Examples/ruby/pointer/Makefile
tools/swig/Examples/ruby/reference/Makefile
tools/swig/Examples/ruby/simple/Makefile
tools/swig/Examples/ruby/std_vector/Makefile
tools/swig/Examples/ruby/template/Makefile
tools/swig/Examples/ruby/value/Makefile
tools/swig/Examples/ruby/variables/Makefile
tools/swig/Examples/tcl/class/Makefile
tools/swig/Examples/tcl/constants/Makefile
tools/swig/Examples/tcl/contract/Makefile
tools/swig/Examples/tcl/enum/Makefile
tools/swig/Examples/tcl/funcptr/Makefile
tools/swig/Examples/tcl/import/Makefile
tools/swig/Examples/tcl/java/Makefile
tools/swig/Examples/tcl/multimap/Makefile
tools/swig/Examples/tcl/operator/Makefile
tools/swig/Examples/tcl/pointer/Makefile
tools/swig/Examples/tcl/reference/Makefile
tools/swig/Examples/tcl/simple/Makefile
tools/swig/Examples/tcl/std_vector/Makefile
tools/swig/Examples/tcl/value/Makefile
tools/swig/Examples/tcl/variables/Makefile
tools/swig/Examples/test-suite/allegrocl/Makefile
tools/swig/Examples/test-suite/cffi/Makefile
tools/swig/Examples/test-suite/chicken/Makefile
tools/swig/Examples/test-suite/clisp/Makefile
tools/swig/Examples/test-suite/csharp/Makefile
tools/swig/Examples/test-suite/guile/Makefile
tools/swig/Examples/test-suite/guilescm/Makefile
tools/swig/Examples/test-suite/java/Makefile
tools/swig/Examples/test-suite/lua/Makefile
tools/swig/Examples/test-suite/mzscheme/Makefile
tools/swig/Examples/test-suite/ocaml/Makefile
tools/swig/Examples/test-suite/octave/Makefile
tools/swig/Examples/test-suite/perl5/Makefile
tools/swig/Examples/test-suite/php/Makefile
tools/swig/Examples/test-suite/pike/Makefile
tools/swig/Examples/test-suite/python/Makefile
tools/swig/Examples/test-suite/r/Makefile
tools/swig/Examples/test-suite/ruby/Makefile
tools/swig/Examples/test-suite/tcl/Makefile
tools/swig/Examples/test-suite/uffi/Makefile
tools/swig/Examples/xml/Makefile
tools/swig/Lib/guile/Makefile
tools/swig/Lib/mzscheme/Makefile
tools/swig/Lib/ocaml/swigp4.ml
tools/swig/Lib/swigwarn.swg
tools/swig/Makefile
tools/swig/Source/Include/swigconfig.h
tools/swig/Source/Include/swigconfig.h.in
tools/swig/Source/Makefile
tools/swig/Source/Makefile.in
tools/swig/Source/eswig
tools/swig/Tools/config/compile
tools/swig/Tools/config/config.guess
tools/swig/Tools/config/config.sub
tools/swig/Tools/config/depcomp
tools/swig/Tools/config/install-sh
tools/swig/Tools/config/ltmain.sh
tools/swig/Tools/config/missing
tools/swig/Tools/config/ylwrap
tools/swig/swig
vgcore.*
vim/Makefile
vim/Makefile.in
y.output
yog-bdw*
yog-copying*
yog-generational*
yog-mark-sweep*
yog-mark-sweep-compact*
