ONIG_DIR = onig
ONIG_LIB = $(ONIG_DIR)/.libs/libonig.a

SUBDIRS = $(ONIG_DIR)

bin_PROGRAMS = yog
yog_SOURCES = @SOURCES@
yog_CFLAGS = -Iinclude -I$(ONIG_DIR) -Wall
yog_LDADD = $(ONIG_LIB)

AM_YFLAGS = -d --verbose
#AM_LFLAGS = --noline

INSTS_DEF = src/insts.def
INST_PY = tools/inst.py
INST_CMD = make insts

proto:
	python tools/update_prototype.py

insts:
	python tools/inst.py src/insts.def

am:
	python tools/update_automake.py

test: yog$(EXEEXT)
	GC=COPYING py.test
	GC=MARK-SWEEP py.test

clean-generic:
	find . -name "*.pyc" -print0 | xargs --null rm -f

src/keywords.inc: src/keywords
	gperf $< > $@

src/lexer.c: parser.h

src/thread.inc: $(INSTS_DEF) $(INST_PY)
	$(INST_CMD)

src/code.inc: src/code.inc.tmpl $(INSTS_DEF) $(INST_PY)
	$(INST_CMD)

src/compile.inc: src/compile.inc.tmpl $(INSTS_DEF) $(INST_PY)
	$(INST_CMD)

include/yog/inst.h: include/yog/inst.h.tmpl $(INSTS_DEF) $(INST_PY)
	$(INST_CMD)

# vim: tabstop=8 shiftwidth=8 noexpandtab filetype=automake
