ONIG_DIR = onig
ONIG_LIB = $(ONIG_DIR)/.libs/libonig.a

BDWGC_DIR = bdwgc
BDWGC_LIB = $(BDWGC_DIR)/.libs/libgc.a

SUBDIRS = $(BDWGC_DIR) $(ONIG_DIR)

bin_PROGRAMS = yog
yog_SOURCES = @SOURCES@
yog_CFLAGS = -Iinclude -I$(ONIG_DIR) -I$(BDWGC_DIR)/include -Wall
yog_LDADD = $(BDWGC_LIB) $(ONIG_LIB) -lpthread

AM_YFLAGS = -d --verbose
#AM_LFLAGS = --noline

INSTS_DEF = src/insts.def
INST_PY = tools/inst.py
INST_CMD = make insts

GEN_AM_CMD = python tools/update_automake.py

TEST_CMD = py.test

proto:
	python tools/update_prototype.py

insts:
	python tools/inst.py src/insts.def

am:
	$(GEN_AM_CMD)

test: yog$(EXEEXT)
	make test-copying
	make test-mark-sweep
	make test-bdw

test-copying: 
	GC=copying $(TEST_CMD)

test-mark-sweep:
	GC=mark-sweep $(TEST_CMD)

test-bdw:
	GC=bdw $(TEST_CMD)

clean-generic:
	find . -name "*.pyc" -print0 | xargs --null rm -f

src/keywords.inc: src/keywords
	gperf $< > $@

src/lexer.c: parser.h

src/thread.inc: $(INSTS_DEF) $(INST_PY)
	$(INST_CMD)

src/code.inc: src/code.inc.tmpl $(INSTS_DEF) $(INST_PY)
	$(INST_CMD)

src/compile.inc: src/compile.inc.tmpl $(INSTS_DEF) $(INST_PY)
	$(INST_CMD)

include/yog/inst.h: include/yog/inst.h.tmpl $(INSTS_DEF) $(INST_PY)
	$(INST_CMD)

Makefile.am: Makefile.am.tmpl
	$(GEN_AM_CMD)

push: 
	PYTHONPATH=. hg push

# vim: tabstop=8 shiftwidth=8 noexpandtab filetype=automake
