bin_PROGRAMS = yog
yog_SOURCES = @SOURCES@
yog_CFLAGS = -Iinclude -Wall
AM_YFLAGS = -d --verbose
#AM_LFLAGS = --noline

proto:
	python tools/update_prototype.py

insts:
	python tools/inst.py src/insts.def

am:
	python tools/update_automake.py

test: yog$(EXEEXT)
	py.test

clean-generic:
	find . -name "*.pyc" -print0 | xargs --null rm -f

src/keywords.inc: src/keywords
	gperf $< > $@

# vim: tabstop=8 shiftwidth=8 noexpandtab filetype=automake
