
dl {
  margin: 10px;
}

h1 {
  background-color: #000000;
  border-left: 1px solid #696969;
  border-top: 1px solid #696969;
  color: #ffffff;
  font-size: 200%;
  margin: 0px -20px 0px 0px;
  padding: 10px;
}

h2 {
  background-color: #000000;
  border-left: 1px solid #696969;
  border-top: 1px solid #696969;
  color: #ffffff;
  font-size: 160%;
  padding: 0px 10px;
}

h3 {
  border-bottom: 1px solid #000000;
  border-left: 6px solid #000000;
  font-size: 140%;
  margin: 0px 10px;
  padding: 0px 10px;
}

h4 {
  font-size: 120%;
  padding: 0px 10px;
}

h5 {
  font-size: 110%;
  padding: 0px 10px;
}

h6 {
  padding: 0px 10px;
}

pre {
  border: 1px solid #000000;
  font-size: 1.2em;
  margin: 10px 20px;
  padding: 5px 10px;
}

body {
  background-color: #f5f5f5;
  margin: 0px;
}

p {
  margin: 10px 20px;
}

div.header {
  color: #ffffff;
  background-color: #800000;
  text-align: center;
}

tt {
  font-size: 1.2em;
}

/**
 * vim: tabstop=2 shiftwidth=2 expandtab softtabstop=2
 */
