#ifndef __YOG_INST_H__
#define __YOG_INST_H__

#include "yog/opcodes.h"

struct YogInst {
    YOGGCOBJ_HEAD;

    struct YogInst* next;

    enum InstType type;
    enum OpCode operand;
    union {
${structs}
    } u;
};

#define INST_OPERAND(inst)  ((inst)->operand)
${macros}

typedef struct YogInst YogInst;
#endif
/**
 * vim: tabstop=4 shiftwidth=4 expandtab softtabstop=4 filetype=c
 */
