#ifndef __YOG_INSTS_H__
#define __YOG_INSTS_H__
#if defined(__cplusplus)
extern "C" {
#endif

#define INST(name)  INST_##name

enum Inst {
${insts}
};

typedef enum Inst Inst;

#if defined(__cplusplus)
}
#endif
#endif
/**
 * vim: tabstop=4 shiftwidth=4 expandtab softtabstop=4 filetype=c
 */
