
ROOT_DIR = ..
ONIG_DIR = $(ROOT_DIR)/onig
BDWGC_DIR = $(ROOT_DIR)/bdwgc
SIGSEGV_DIR = $(ROOT_DIR)/sigsegv

LEMON_DIR = $(ROOT_DIR)/tools/lemon
LEMON = $(LEMON_DIR)/lemon
YACC = $(LEMON)

BUILT_SOURCES = parser.h keywords.inc
COMMON_SOURCES = @SOURCES@
COMMON_CFLAGS = -I$(ROOT_DIR)/include -I$(ONIG_DIR) -I$(BDWGC_DIR)/include -Wall
COMMON_LDFLAGS = $(ONIG_DIR)/.libs/libonig.a

bin_PROGRAMS = yog-copying \
	       yog-mark-sweep \
	       yog-mark-sweep-compact \
	       yog-bdw \
	       yog-generational
yog_copying_SOURCES = $(COMMON_SOURCES) gc/copying.c
yog_copying_CFLAGS = $(COMMON_CFLAGS) -DGC_COPYING
yog_copying_LDFLAGS = $(COMMON_LDFLAGS)
yog_mark_sweep_SOURCES = $(COMMON_SOURCES) gc/mark-sweep.c
yog_mark_sweep_CFLAGS = $(COMMON_CFLAGS) -DGC_MARK_SWEEP
yog_mark_sweep_LDFLAGS = $(COMMON_LDFLAGS)
yog_mark_sweep_compact_SOURCES = $(COMMON_SOURCES) gc/mark-sweep-compact.c
yog_mark_sweep_compact_CFLAGS = $(COMMON_CFLAGS) -DGC_MARK_SWEEP_COMPACT
yog_mark_sweep_compact_LDFLAGS = $(COMMON_LDFLAGS)
yog_bdw_SOURCES = $(COMMON_SOURCES) gc/bdw.c
yog_bdw_CFLAGS = $(COMMON_CFLAGS) -DGC_BDW
yog_bdw_LDFLAGS = $(COMMON_LDFLAGS) $(BDWGC_DIR)/.libs/libgc.a -lpthread
yog_generational_SOURCES = $(COMMON_SOURCES) gc/generational.c gc/copying.c \
			   gc/mark-sweep-compact.c
yog_generational_CFLAGS = $(COMMON_CFLAGS) -DGC_GENERATIONAL \
			  -I$(SIGSEGV_DIR)/src
yog_generational_LDFLAGS = $(COMMON_LDFLAGS) \
			   $(SIGSEGV_DIR)/src/.libs/libsigsegv.a

INSTS_DEF = insts.def
INST_PY = $(ROOT_DIR)/tools/inst.py
INST_CMD = make insts

GEN_AM_CMD = python $(ROOT_DIR)/tools/update_automake.py .

TEST_CMD = py.test

insts:
	python $(ROOT_DIR)/tools/inst.py insts.def ..

am:
	$(GEN_AM_CMD)

parser.c: parser.y parser.lt $(LEMON)
	(cd $(LEMON_DIR); make)
	$(LEMON) parser.y

keywords.inc: keywords
	gperf $< > $@

#keywords lexer.c: parser.h

eval.inc: $(INSTS_DEF) $(INST_PY)
	$(INST_CMD)

code.inc: code.inc.tmpl $(INSTS_DEF) $(INST_PY)
	$(INST_CMD)

compile.inc: compile.inc.tmpl $(INSTS_DEF) $(INST_PY)
	$(INST_CMD)

$(ROOT_DIR)/include/yog/inst.h: $(ROOT_DIR)/include/yog/inst.h.tmpl $(INSTS_DEF) $(INST_PY)
	$(INST_CMD)

Makefile.am: Makefile.am.tmpl
	$(GEN_AM_CMD)

# vim: tabstop=8 shiftwidth=8 noexpandtab filetype=automake
